body {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#tradingview_318cb {
  width: 1024px;
  height: 480px;
  margin-bottom: 10px;
}

.dashboard {
  display: flex;
  flex-direction: row;
}

.dashboard div {
  text-align: left;
  margin-right: 50px;
  margin-bottom: 20px;
}

.vlrText {
  font-size: 24px;
  color: red;
}
